# data type and structures theory questions

1. What are data structures, and why are they important?
  -> Data structures in Python are specialized formats or containers used to store and organize data efficiently. And they are important because they provide various ways to store, access, and manipulate data according to specific needs.

2.  Explain the difference between mutable and immutable data types with examples.
  -> mutable data type are those that can be changed in place after creation. EXamples are list, set, dictionary.
  Immutable data types are those that cannot be changed after creation. Examples are tuple, string.

3. What are the main differences between lists and tuples in Python?
-> lists are mutable, written in square bracket but tuples are immutable and written in parentheses.

4. Describe how dictionaries store data.
  -> Dictionaries store data using a key-value pair structure. Key:value
  example {"name":"Aayush", "Age":21}

5. Why might you use a set instead of a list in Python?
  -> Sets are unordered collections of unique elements. They are useful over list when you need to work with distinct items because list allow duplicate items and sets perform set operations like union, intersection, and difference.

6. What is a string in Python, and how is it different from a list?
  -> A string is an immutable sequence of Unicode characters. Each character in the string can be accessed using an index. A list is a mutable sequence of any Python objects. Lists can contain mixed data types

7. How do tuples ensure data integrity in Python.
  -> In Python, tuples ensure data integrity through their immutability nature. This makes them a great choice when we want to protect our data from being changed accidentally or intentionally. Once a tuple is created, its contents cannot be modified no adding, removing, or changing items.

8. What is a hash table, and how does it relate to dictionaries in Python?
  -> A hash table is a data structure that stores key-value pairs and allows for fast data retrieval based on keys. It uses a hash function to compute an index from the key, which determines where the associated value is stored in memory.

9. Can lists contain different data types in Python?
  -> Yes, lists in Python can contain different data types. Python lists are heterogeneous.

10. Explain why strings are immutable in Python.
  -> Once a string is created, it cannot be changed. This decision brings several important benefits related to performance, security, and reliability.

11. What advantages do dictionaries offer over lists for certain tasks?
  -> Dictionaries offer significant advantages over lists when tasks involve key-based access, fast lookups, and data relationships. With lists,we must remember what each index means. with dictionaries, we just use meaningful keys.

12. Describe a scenario where using a tuple would be preferable over a list.
  -> Using a tuple is preferable over a list when need a fixed, unchangeable group of values that should not be modified. example is data base records.

13. How do sets handle duplicate values in Python?
  -> In Python, sets automatically remove and prevent duplicate values. Sets store only unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?
  -> "in" a membership keyword. In lists it checks whether a value exists in the list, and in dictionaries it checks Whether a key exists in the dictionary, it does not check for values unless we explicitly do so.

15. Can you modify the elements of a tuple? Explain why or why not.
  -> No, we cannot modify the elements of a tuple in Python. A tuple is immutable, once it is created, cannot change, add, or remove any of its elements. Attempting to do so will result in an error.

16. What is a nested dictionary, and give an example of its use case.
  -> A nested dictionary is a dictionary that contains another dictionary. Example is a class data in school. school = {"Section A": {"Class teacher": "Ms Rupali", "students": 25},
    "Section B": {"class teacher": "Mr. ashok", "students": 30}
  }

17. Describe the time complexity of accessing elements in a dictionary.
  -> Dictionaries are implemented using hash tables, which makes key-based access very fast. Accessing an element with my_dict[key] typically takes constant time, regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
  -> Lists are preferred over dictionaries in following situations. Lists maintain the order of elements by default (insertion order), useful when the sequence of items is important. Lists allow direct access by index, perfect when the position of elements is meaningful. Lists allow duplicates, which is essential when repeated data is valid.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   -> Dictionaries in Python are considered unordered because the insertion order of keys are not guaranteed. Data is accessed—via keys, not position.
   Iteration over a dictionary potentially return keys in arbitrary order.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
  -> The difference between a list and a dictionary in terms of data retrieval lies in how data is accessed: In list Items are accessed using integer indices, thus retrieval is position-based. And In dictionary items are accessed using unique keys and thus retrieval is key-based.

# Data type and structure practical questions

1.Write a code to create a string with your name and print it.

In [12]:
name="Aayush"
print(name)

Aayush

2. Write a code to find the length of the string "Hello World".

In [13]:
len("Hello World")

11

3. Write a code to slice the first 3 characters from the string "Python Programming."

In [14]:
program="Python Programming"
program[0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [15]:
"hello".upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [17]:
word="I like apple"
word.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [18]:
list(range(1,6))

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [19]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [20]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [21]:
list=['a','b','c','d']
second_element=list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [22]:
list=[10,20,30,40,50]
list[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [31]:
tup=(100,200,300)
print(tup)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [33]:
my_tuple=('red','green','blue','yellow')
my_tuple[1:]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [34]:
my_tup=(10,20,5,15)
min(my_tup)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [35]:
m_tuple=('dog','cat','rabbit')
m_tuple.index('cat')

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [36]:
mytuple=("apple","banana","kiwi")
"kiwi" in mytuple

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [37]:
my_set={"a","b","c"}
print(my_set)

{'a', 'b', 'c'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [38]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [39]:
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [41]:
set1={1,2,3}
set2={3,4,5}
set1|set2

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [42]:
set1={1,2,3}
set2={2,3,4}
set1&set2

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [43]:
my_dict= {"name":"Aayush", "age":21, "city":"Jaipur"}
print(my_dict)

{'name': 'Aayush', 'age': 21, 'city': 'Jaipur'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [44]:
my_dict={'name': 'John', 'age': 25}
my_dict["country"]="USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [45]:
my_dict={'name': 'Alice', 'age': 30}
my_dict["name"]

'Alice'

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [49]:
my_dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [53]:
my_dict={'name':'Alice', 'city':'paris'}
'city' in my_dict

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [54]:
my_list = [10, 20, 30]
my_tuple = (10, 20, 30)
my_dict = {'a': 10, 'b': 20, 'c': 30}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: (10, 20, 30)
Dictionary: {'a': 10, 'b': 20, 'c': 30}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [71]:
import random
random_number=[random.randint(1,100,) for i in range(5)]
random_number.sort()
print(random_number)

[9, 14, 29, 36, 89]

28. Write a code to create a list with strings and print the element at the third index.

In [56]:
my_list=["str1","str2","str3","str4","str5"]
print(my_list[3 ])

'str4'

29. Write a code to combine two dictionaries into one and print the result.

In [57]:
dic1={"a":1,"b":2}
dic2={"c":3,"d":4}
dic1.update(dic2)
print(dic1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [59]:
my_list=['str1','str2','str3']
my_set=set(my_list)
print(my_set)

{'str1', 'str3', 'str2'}